* {
    margin: 0;
    padding: 0;
    font-weight: lighter;
}

/* ======== KHAI BÁO FONT ======== */
@font-face {
    font-family: SSP-light;
    src: url(../fonts/SourceSansPro-Light.otf);
}

@font-face {
    font-family: SSP-regular;
    src: url(../fonts/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: M-ultralight;
    src: url(../fonts/Montserrat-UltraLight.otf);
}

@font-face {
    font-family: M-bold;
    src: url(../fonts/Montserrat-Bold.otf);
}


/* ======== FLEXBOX ======== */
.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #cad3d3;
}

.item {
    width: 362px;
    height: 768px;  /* nên dùng height: auto */
    background-color: #ffffff;
    margin: 100px 23px;
    position: relative;
}


/* ======== IMAGES ======== */
.image {
    position: relative;
} /* Lớp ảnh thứ 1 */

.glass {
    position: absolute;
    top: 0;
    left:0;
    opacity: 0.6;
} /* Lớp ảnh thứ 2 */

.bigtext {
    position: absolute;
    bottom: 115.5px;
    width: 100%;
    font-family: M-ultralight;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
} /* Lớp chữ thứ 3 */

.bigtext p {
    font-family: SSP-regular;
    font-size: 13px;
    color: #b6c6c9;
    padding-top: 10px;
}

.new {
    position: absolute;
    top: -15px;
    left: -15px;
} /* Nhãn NEW của Block 2 */

.new p {
    position: absolute;
    font-family: M-bold;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    width: 100%;
    bottom: 30px;
}


/* ======== PRICE TAGS ======== */
.circle {
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    top: -60px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 32px;
    font-family: SSP-light;
    line-height: 1.5;
}

.circle.one {
    background-color: #ffffff;
    color: #2196f7;
}

.circle.two {
    background-color: #2c2e3d;
    color: #d74498;
}

.circle.three {
    background-color: #ffffff;
    color: #32ad1e;
}

.circle p:nth-child(1) {
    padding-top: 20px;
} /* giá $$ */


.circle p:nth-child(2) {
    font-size: 16px;
    font-family: SSP-regular;
    color: #99a9b5;
} /* chữ Per tour*/


/* ======== MAIN CONTENT ======== */
.text {
    text-align: center;
    font-family: SSP-regular;
    color: #5f727f;
}

.text ul li {
    font-size: 0.95em;
    list-style-type: none;
    padding: 20px 0;
}

.text ul li:nth-child(odd) {
    background-color: #f4f6f7;
} /* màu nền so le giữa các mục */

h1 {
    font-family: SSP-light;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    font-family: SSP-regular;
    font-size: 14px;
    color: #99a9b5;
    padding-bottom: 20px;
}

/* === BUTTONS ==== */
.button {
    font-size: 19px;
    font-family: M-ultralight;
    cursor: pointer;
    text-align: center;
    padding: 14px 35.5px;
    margin-top: 8px;
    /*margin-top:20px;
    margin-bottom: 20px;*/
}

.button.one {
    border: 1px solid #2196f7;
    background-color: #ffffff;
    color: #2196f7;
}

.button.one:hover {
    background-color: #2196f7;
    color: #ffffff;
}

.button.two {
    border: 1px solid #6c136f;
    background-color: #ffffff;
    color: #6c136f;
}

.button.two:hover {
    background-color: #6c136f;
    color: #ffffff;
}

.button.three {
    border: 1px solid #32ad1e;
    background-color: #ffffff;
    color: #32ad1e;
}

.button.three:hover {
    background-color: #32ad1e;
    color: #ffffff;
}